include LICENSE
recursive-include test *.py
include test/test_convex_quadrangle/sample_frame_image.png
include test/document/test_pdf/sample_pdf_document.pdf
include test/video/test_file/sample_video_file.mov
